<navbar />

<header>
    <div class="container">
        <div class="d-flex direction-flex">
            <div class="col-50-flex header__text">
                <h1>Wave Store</h1>
                <p>Produtos online a um clique, compre com <strong class="header__text--alternative">segurança!</strong></p>
                <a href="#produtos">Clique Aqui!</a>
                <p class="header__text--cta-text">E conheça nossos produtos</p>
            </div>
            <div class="col-50-flex d-flex flex-end">
                <img class="header__img" src="../../../assets/images/celular-header.webp" alt="Wave Store">
            </div>
        </div>
    </div>
</header>

<main>
    <div id="sobre" class="sobre-bg">
        <div class="container">
            <div class="sobre d-flex centralize mb-3">
                <div class="col-50-flex pl-3">
                    <h2>Sobre a Wave Store</h2>
                    <p>
                        A Empresa tem nome, logo e itens meramente ilustrativos, criados somente para realização do projeto de Desenvolvimento Front-end.
                    </p>
                </div>
                <div class="col-50-flex pl-3 d-flex centralize">
                    <img src="../../../assets/images/image-interna.webp" alt="Sobre a Wave Store">
                </div>
            </div>
        </div>
    </div>
        
    <div class="container">
        <h2 id="produtos">Produtos</h2>
        <hr>
        <h3>Categorias</h3>
        <div class="categories d-flex flex-wrap centralize">
            <div *ngFor="let item of categorias">
                <div>
                    <p class="categories__category" (click)="listCategory(item)">{{item}}</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="products">
            <div *ngFor="let item of products" class="products__card d-flex centralize flex-col">
                <div class="products__card--stock">Apenas <span class="products__card--stock-num">{{item.stock}}</span> UNID.</div>
                <img *ngFor="let image of item.images; let index = index" class="products__card--image" [hidden]="index>0" [src]="image" alt="">
                <p class="products__card--title">{{item.title}}</p>
                <p class="products__card--price">{{ item.price | currency: 'BRL'}}</p>
                <p style="font-size: 14px;">À vista no PIX</p>
                <button (click)="goToProduct(item.id)"  >COMPRAR</button>
            </div>
        </div>
    </div>
</main>

<footercomponent />
