<navbar />

<header>
    <div class="container">
        <div class="d-flex direction-flex">
            <div class="col-50-flex header__text">
                <h1>Wave Store</h1>
                <p>Produtos online a um clique, compre com <strong class="header__text--alternative">segurança!</strong></p>
                <button>Clique Aqui!</button>
                <p class="header__text--cta-text">E conheça nossos produtos</p>
            </div>
            <div class="col-50-flex d-flex flex-end">
                <img class="header__img" src="../../../assets/images/celular-header.webp" alt="Wave Store">
            </div>
        </div>
    </div>
</header>

<!-- <p *ngIf="products.length > 0">Hello World {{user}}</p>

<ul>
    <li class="teste" *ngFor="let item of products">{{item.title}} - {{item.price | currency}}</li>
</ul>

<div>
    <div *ngFor="let item of products">
        <img *ngFor="let image of item.images Let index = index;" class="products__card--image" [src]="image" alt="">
    </div>

    <p *ngFor="let item of products">{{item.title}}</p>
</div> 

<button (click)="teste()">teste</button>
-->




<main>
    <div class="container">
        <h2>Produtos</h2>
        <div class="products">
            <div *ngFor="let item of products" class="products__card d-flex centralize flex-col">
                <img *ngFor="let image of item.images; let index = index" class="products__card--image" [hidden]="index>0" [src]="image" alt="">
                <p class="products__card--title">{{item.title}}</p>
                <p class="products__card--price">{{item.price | currency}}</p>
                <button (click)="goToProduct(item.id)"  >comprar</button>
            </div>
        </div>
    </div>
</main>

<footercomponent />
